.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    margin: 24px;
}

.gridDiv {
    background-color: tan;
    display: flex;
    margin: 0px;
    justify-self: stretch;
}

.newGrid {
    background-color: tan;

    display: flex;
    margin: 0px;
    justify-self: stretch;   
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 0px;
    row-gap: 0px;
    justify-items: center;
    justify-content: center;
    width: 725px;
    height: 725px;
    margin: 24px;
    padding: 12px;
}

